
.head{
    background-color: aqua;
    background-attachment: fixed;
    border: rgb(247, 247, 247) solid;
    border-radius: 1%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    box-shadow: black 5px 3px;
    /* text-decoration:wavy; */
    text-decoration: underline;
     
}
.body {
   width: 75% ;
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(139, 143, 175);

  #details{
    background-color: rgb(127, 255, 0);
   }
}

#anarchy{
    width: 100px;   
}
